{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
    <title>Travel Tourism Management</title>
  </head>
  <body>
    <h2>PFSD Sec-14 Travel Tourism Management !!</h2>
    <button onclick="changeBG()" id="bgChange-btn">Change bg 👍</button>
  </body>
  <script src="{% static 'js/homeChangeBG.js' %}"></script>
</html>
